@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #efefef;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

section {
  /* max-width: 1100px;
  margin: auto; */
}

/* CSS Resets end */

/* Navbar */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--primary-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav #logo {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

nav  ul a {
  color: white;
  transition: var(--transition);
}
nav a:hover, #logo:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  cursor: pointer;
}

#logo:hover{
  margin-bottom: -2px;
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Navbar ends */

/* hamburger menu start  */

#icon{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 30px;
	width: 45px;
	cursor: pointer;
	z-index: 3;
	transform-origin: center;
  display: none;
}


.line{
	background: white;
	width: 100%;
	height: 7px;
	border-radius: 3px;
	box-shadow: 0 2px 10px 0 rgba(61, 61, 61, 0.8);
	position: relative;
	z-index: 2;
	transition: .3s ease;
}

.change #line1{
	transform: translateY(12px) rotateZ(-43deg);
  box-shadow: none;
  background: var(--secondary-color);
}

.change #line3{
	transform: translateY(-11px) rotate(39deg);
  box-shadow: none;
  background: var(--secondary-color);
}

.change #line2{
	opacity: 0;
}

/* hamburger menu end  */


/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  /* max-width: 68.75rem; */
  margin: auto;
  padding: 5rem 0;
  background-image: url('wave.svg');
  background-position: bottom;
  background-repeat: no-repeat;
}

.hero img {
  margin-right: 5rem;
}


.title *{
  margin-top: 1rem;
  font-size: 4rem;
}

.title h2, h2{
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 2rem;
  color: var(--secondary-color);
}
h2{
  font-style: normal;
}

.title span{
  color: var(--secondary-color);
}
.title a i{
  font-size: 2rem;
}

.title h1 {
  margin-bottom: var(--bottom-margin);
}

.title .btn, .title .btnSecondary{
  margin: 2rem;
  margin-left: 0;
  font-size: 1.5rem;
  padding: .7rem 1.3rem;
  border: 1px solid var(--primary-color);
  border-radius: .5rem;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  transition: var(--transition);
}

.title .btnSecondary{
  color: var(--primary-color);
  background-color: white;
}

.btnSecondary:hover{
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.btn:hover{
  background-color: transparent;
  color: var(--primary-color);
}

.title ul, footer ul{
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
footer ul{
  justify-content: flex-end;
}

svg *{ 
  position: relative;
}

/* Hero section ends */

/*  about */


.about {
  background-color: var(--bg-color);
  padding: 7.5rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-image: url('wave2.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  margin-top: -1px;
}

.about div{
  width: 50%;
  /* border: 2px solid #363636; */
  padding: 1rem 2rem;
  border-radius: .5rem;
  box-shadow: 0 3px 5px var(--primary-shadow);
}

.about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: left;
}

.about img{
  border-radius: 50%;
  box-shadow: 0 3px 10px var(--primary-shadow);
}

/* .about img::after{
  content: '';
  background-image: url('blob.svg');
  position: absolute; 
  width: 110%;
  height: 110%;
  left:-50px;
  top:10px;
} */

.about p {
  line-height: var(--line-height);
  padding: 0.4rem;
  padding-left: 0;
}
/* More about ends */

@media (max-width: 1000px) {
  .about {
    padding: 7.5rem 1rem;
    gap: 1rem;
  }
  
}

@media (max-width: 800px) {
  .about {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
  .about div{
    width: 80%;
  }
  
}
/* Skills section */
.skills {
  margin: auto;
  text-align: center;
  padding: 5rem;
  background-color: var(--bg-color);
  background-image: url('wave2.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  margin-top: -2px;
}


.skill-header {
  margin-bottom: 3rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.skills-wrapper img:hover {
  box-shadow: 0 3px 5px var(--primary-shadow);
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}
/* Skills section ends */

/* Projects section */
.projects {
  background-color: white;
  padding: 5rem 0;
  background-image: url('wave.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  margin-top: -2px;
}

.projects h3{
  font-size: 1.5rem;
}
.project-pic {
  width: 65%;
  height: 65%;
  border-radius: 5px;
  margin: 1rem;
}

.project-card div{
  margin: 1rem;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 5px var(--primary-shadow);
  padding: 3rem;
  margin: 10px;
  margin-top: 0;
  display: flex;
  gap: 3rem;
  width: 55rem;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}


.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  padding: 1rem;
}

.project-container h3{
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
}

.project-container p{
  padding: 0.4rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-link{
  margin: 1rem;
  padding: .7rem 1.3rem;
  border: 1px solid var(--primary-color);
  border-radius: .5rem;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  transition: var(--transition);
}

.project-link-two {
  color: var(--primary-color);
  background-color: white;
  margin-left: 1rem;

}
.project-link:hover{
  background-color: transparent;
  color: var(--primary-color);
}

.project-link-two:hover{
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.project-card span{
  display: inline-block;
  margin-top: 1.5rem;
  font-style: italic;
  opacity: .8;
}

.project-card div *{
  margin-bottom: 1rem;
}
@media (max-width: 920px) {
  .project-link{
    margin: 0;
  }
  
  
  .project-card {
    padding: 1rem;
    margin: 10px;
    gap: 0;
  }
}

@media (max-width: 800px) {
  .project-card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
}



/* Projects section ends */

/* Contacts section */
.contact {
  margin-top: 2rem;
  background-image: url('wave.svg');
  background-position: bottom;
  background-repeat: no-repeat;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
/* Contacts section ends */




/* Footer section */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin-top: -1px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
}

footer ul li{
  font-size: 1.5rem;
}

@media (max-width:500px) {
  footer {
    padding: 1rem 1rem;
  }
}

/* Footer section ends */

/* General (utilities) */
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}



/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }

  nav ul {
    position: fixed;
    background-color: var(--primary-color);
    flex-direction: column;
    top: 86px;
    left:0;
    width: 100%;
    text-align: center;
    transform: translateY(-130%);
    transition: transform 0.5s ease-in;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  nav ul li {
    margin: 8px;
  }
  nav ul li:last-child{
    padding-bottom: 1rem;
  }

  #icon {
    display: flex;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    flex-direction: column;
    gap: 0;
  }

  .about div{
    width: 80%;
  }

  /* .hero img {
    height: 20rem;
    margin-top: 4rem;
  } */

  .title *{
    text-align: center;
  }

  .about {
    padding: 1rem .1rem;
  }

  .about h2 {
    text-align: center;
  }

  .about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 25.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}
@media (max-width: 490px) {
  .title *{
    font-size: 3rem;;
  }
  .about picture{
    display: flex;
   justify-content: center;
   padding-bottom: 3rem;
  }
  .about img{
    width: 80%;
  }
  
  .title h3{
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 2rem;
  }
  .title .btn, .title .btnSecondary{
    margin: 1rem;
  }

  .title ul{
    justify-content: center;
  }
  
}
@media screen and (max-width: 420px) {


  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
  .project-card img{
    width: 95%;
  }

}
@media screen and (max-width: 350px) {
  .title .btn, .title .btnSecondary{
    margin: .5rem;
  }
}
